<div class="container-fluid">

  <h2 [innerText]="header"></h2>
  <div class="card spacer" *ngFor="let product of products">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>

        <p class="card-text">{{ product.price | currency }}</p>
        <div class="btn-example">
          <a class="btn btn-outline-success" role="button" (click)="addToCart(product)"><i class="bi bi-plus"></i>Add to cart</a>
          <div class="btn-spacer"></div>
          <a class="btn btn-primary" role="button" [routerLink]="['/products', product.id]"><i class="bi bi-journals"></i>View Details</a>
      </div>
    </div>
  </div>
</div>
